################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileUpload/bin/Debug/net8.0
/FileUpload/obj
*.user
*.config
/.vs
