<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="bin\Debug\net8.0\FileUpload.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
			<rewrite>
				<rules>
					<rule name="BlazorRouting" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
						<action type="Rewrite" url="/" />
					</rule>
				</rules>
			</rewrite>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
			<staticContent>
				<remove fileExtension=".js" />
				<mimeMap fileExtension=".js" mimeType="application/javascript" />
				<remove fileExtension=".css" />
				<mimeMap fileExtension=".css" mimeType="text/css" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>