@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="async () => await IncrementCount(SpinnerColor.Info)">Click me</button>

@code {
	[Inject] protected PreloadService PreloadService { get; set; }
	private int currentCount = 0;

	private async Task IncrementCount(SpinnerColor spinnerColor)
	{
		PreloadService.Show(spinnerColor);
		try
		{
			//await Task.Delay(1000);

			currentCount++;
		}
		finally
		{
			PreloadService.Hide();
		}
	}
}
